In [ ]:
# load the daily data, then calculate the value of it 

#df['value_ema_1_beta_99'] = df['diff_ema_1'].shift(-1).fillna(0) + \
#0.99 * df['value_ema_1_beta_99'].shift(-1).fillna(0)

In [4]:
import pandas as pd
import numpy as np

df = pd.read_json('../data/AAPL/data')

In [5]:
df.tail()

,close,high,low,open,timestamp,volumn
2512,164.509995,169.679993,164.179993,166.979996,2022-01-20 14:30:00,91420500
2513,162.410004,166.330002,162.300003,164.419998,2022-01-21 14:30:00,122501300
2514,161.619995,162.300003,154.699997,160.020004,2022-01-24 14:30:00,162706700
2515,159.779999,162.759995,157.020004,158.979996,2022-01-25 14:30:00,115798400
2516,159.690002,164.389999,157.820007,163.500000,2022-01-26 14:30:00,107740600

In [ ]:
def gradeToNum(grade):
    return {
        'Buy':1,
        'Overweight':2,
        'Outperform':2,
        'Sell':5,
        'Neutral':3,
        'Hold':3,
        'Underweight':4,
        'Market Outperform':2,
        'Market Perform':3
        
    }[grade]

In [7]:
df2 = pd.read_json('../data/AAPL/updown')
df2['toGradeNum']=df2['toGrade']

In [9]:
df2.tail()

    action  epochGradeDate               firm fromGrade     toGrade
816   main      1331713260  Canaccord Genuity                   Buy
817   main      1331705580     Morgan Stanley            Overweight
818   main      1331618880          Jefferies                   Buy
819   main      1331191980     FBN Securities            Outperform
820   main      1328775420  Canaccord Genuity                   Buy

In [22]:
grouped = df2.groupby('firm')

In [26]:
alist = [grouped.get_group(x) for x in grouped.groups]

In [60]:
alist[8]

    action  epochGradeDate         firm       fromGrade         toGrade
279   main      1600852845  BMO Capital  Market Perform  Market Perform
306   main      1541171299  BMO Capital  Market Perform  Market Perform
322   main      1533130608  BMO Capital  Market Perform  Market Perform
325   main      1532347452  BMO Capital  Market Perform  Market Perform
329   main      1525268138  BMO Capital  Market Perform  Market Perform
340   main      1517582702  BMO Capital  Market Perform  Market Perform
345   down      1517399718  BMO Capital      Outperform  Market Perform
355   main      1509732494  BMO Capital                      Outperform
370   main      1501691589  BMO Capital                      Outperform
418   main      1469606555  BMO Capital                      Outperform
471   init      1449818364  BMO Capital                      Outperform
515   main      1422421022  BMO Capital      Outperform      Outperform
619   main      1383027971  BMO Capital                      Outperform
625   main      1380871485  BMO Capital                      Outperform
649     up      1374658391  BMO Capital  Market Perform      Outperform
653   main      1374485781  BMO Capital                  Market Perform
655   main      1372063183  BMO Capital                  Market Perform
668   down      1366785814  BMO Capital      Outperform  Market Perform
672   main      1366618561  BMO Capital                      Outperform
678   main      1366269910  BMO Capital                      Outperform
712   main      1359013331  BMO Capital                      Outperform
720   main      1358412447  BMO Capital                      Outperform
734   main      1355730802  BMO Capital                      Outperform
755   main      1347873120  BMO Capital                      Outperform
774   main      1343203500  BMO Capital                      Outperform
802   main      1333091760  BMO Capital                      Outperform